@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url('../image/header.jpg');
/*    width: 100%;*/
/*    height: 100%;*/
    min-width: 980px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 50px;
}

.logo {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-decoration: none;
}

.link-logo-svg {
    fill: #fff;
}

.link-logo-txt {
    color: #fff;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.link-logo:hover .link-logo-svg {
    fill: orange;
    transition: 0.5s all;
}

.link-logo:hover .link-logo-txt {
    color: orange;
    transition: 0.5s all;
}

.link-logo:active .link-logo-svg {
    fill: gold;
}

.link-logo:active .link-logo-txt {
    color: gold;
}

.navigation {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
}

ul {
    list-style-type: none;
    width: 637px;
    min-width: 500px;
    max-width: 924px;
    /* можно попробовать задать min-width и max-width */
    padding: 0;
    /*    border: 1px solid black;*/
    /*    background-color: #36393c;*/
    display: flex;
    justify-content: space-between;
}

ul li {}

ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    /* border: 1px solid black; */
    /* background-color: #ccc; */
}

ul li a:hover {
    color: #a79783;
}

.cart-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    text-decoration: none;
    margin-left: 70px;
}

a .cart-svg {
    fill: #fff;
}

.cart-svg:hover {
    fill: #a79783;
}
.search-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    text-decoration: none;   
}
.search-svg {
    fill: #fff;
}
.search-svg:hover {
    fill: #a79783;
}
.slider {
/*    width: 90%;*/
    min-width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 150px;
}

.slider-button-left {
    background-image: url('../image/arrow_left.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    width: 5%;
    height: 90px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
}

.slider-button-right {
    background-image: url('../image/arrow_right.png');
    background-repeat: no-repeat;
    background-size: 90px 90px;
    /*    border: 1px solid red;*/
    width: 5%;
    height: 90px;
    margin: 0px 0px 0px 0px;
}

.slider-txt {
    width: 90%;
    box-sizing: border-box;
    text-align: center;
    color: white;
    margin-bottom: 290px;
}

.slider-h2 {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.32em;
}

.slider-h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.6em;
    font-weight: 700;
    line-height: 1.32em;
}

.slider-p {
    font-family: "Raleway", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.32em;
    max-width: 500px;
    margin: 20px auto;
    padding-bottom: 30px
}

.btn-link {
    display: flex;
    margin: 0 auto;
    width: 200px;
    /*   min-height: 60px; */
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #998675;
    text-transform: uppercase;
    border-radius: 5px;
    border-bottom: 4px solid brown;
    transition: 0.5s color, 0.5s background-color;
}

.btn-link:hover {
    background-color: #fff;
    color: #998675;
    transition: 0.5s all;
}

.btn-link:active {
    background-color: #998675;
    color: #fff;
}

.btn-link-txt {
    margin: auto;
}

.pagination {
    width: 120px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    /*  border: 1px solid black;*/
    /*  background-color: darkgray;*/
    padding-bottom: 30px;
}

.pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-link:hover {
    border: 2px solid gold;
    background-color: transparent;
}
.pagination-link-active{
    border: 2px solid red;
    background-color: transparent;
}
.services {
    display: flex;
    justify-content: center;
}

.web {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-align: center;
  color: #555555;
  background-color: #fff;
}

.web:after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #555555;
}

.web:hover .web-icon {
  fill: gold;
}

.web:hover .web-title {
  color: gold;
}

.web:hover:after {
 background-color: gold;
}

.web-icon {
  fill: #555555;
  margin: 0 0 15px 0;
}

.web-title {
  margin: 0 0 10px 0;
  width: 100%;
  font-weight: bold;
}

.web-txt {
  margin: 0 0 15px 0;
}

